.git
.github
.gitignore

.DS_Store
.idea
.vscode

node_modules
**/node_modules
.next
**/.next

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.venv
**/.venv
venv
**/venv

coverage
**/coverage
dist
**/dist
tmp
*.log

.env
.env.*
!/.env.example
!/services/chat/.env.example
